<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    {%- block head ~%}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%- block head_metatags ~%}
            {{- include('partials/metatags.html.twig', {page, site}, with_context = false) ~}}
        {%- endblock head_metatags ~%}
        <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
        <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">

        {# Preload critical resources #}
        <link rel="preload" href="{{ asset('css/fonts.css') }}" as="style">
        <link rel="preload" href="/fonts/inter-400.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="/fonts/inter-600.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="/fonts/montserrat-600.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="{{ asset('vendor/bootstrap-5.3.7/bootstrap.min.css') }}" as="style">

        {%- block head_css ~%}
            {# Bootstrap 5.3.7 #}
            <link href="{{ asset('vendor/bootstrap-5.3.7/bootstrap.min.css') }}" rel="stylesheet">

            {# Font Awesome 6.7.2 #}
            <link rel="stylesheet" href="{{ asset('vendor/fontawesome-6.7.2/all.min.css') }}">

            {# Highlight.js 11.11.1 #}
            <link rel="stylesheet" href="{{ asset('vendor/highlightjs-11.11.1/atom-one-dark.min.css') }}">

            {# Custom CSS #}
            <link rel="stylesheet" href="{{ asset('css/fonts.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {%- endblock head_css ~%}
    {%- endblock head ~%}
</head>
<body class="container d-flex flex-column" style="min-height: 100vh;">
<header>
    {%- block header ~%}
        {{- include('partials/navigation.html.twig', {menu: site.menus.main}, with_context = false) ~}}
    {%- endblock header ~%}
</header>
<main>
    {#- debug ~#}
    {%- if getenv('CECIL_DEBUG') %}
        {{ d() }}
    {% endif ~%}
    {%- block content ~%}
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-xl-10">
                    {{ page.content }}
                </div>
            </div>
        </div>
    {%- endblock content ~%}
</main>
<footer class="container mt-5 mb-2">
    <div class="d-flex justify-content-center align-items-center">
    {%- block footer ~%}
        {{- include('partials/footer.html.twig', {site}, with_context = false) ~}}
    {%- endblock footer ~%}
    </div>
</footer>
{%- block javascripts ~%}
    {# Bootstrap 5.3.7 (includes Popper) #}
    <script src="{{ asset('vendor/bootstrap-5.3.7/bootstrap.bundle.min.js') }}"></script>

    {# Highlight.js 11.11.1 #}
    <script src="{{ asset('vendor/highlightjs-11.11.1/highlight.min.js') }}"></script>
    <script>hljs.highlightAll();</script>

    {# Custom JS #}
    <script src="{{ asset('js/theme-switcher.js') }}"></script>
{%- endblock javascripts ~%}
</body>
</html>
