{% extends '_default/page.html.twig' %}

{%- block content ~%}
    <main>
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-xl-10">
                    <h1>{{ 'legal_notices'|trans }}</h1>
                    
                    <h2>{{ 'owner'|trans }}</h2>
                    <p>Kévin THÉRAGE</p>
                    
                    <h2>{{ 'hosting'|trans }}</h2>
                    <p><a href="https://pages.github.com/" rel="noopener noreferrer">GitHub Pages</a></p>
                    
                    <h2>{{ 'copyright'|trans }}</h2>
                    <p>{{ 'all_rights_reserved'|trans({'%year%': "now"|date("Y")}) }}</p>
                    <p>{{ 'licensed_under'|trans({'%license%': '<a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="noopener noreferrer">Creative Commons BY-SA</a>'})|raw }}</p>
                    
                    <h2>{{ 'technologies'|trans }}</h2>
                    <ul>
                        <li>{{ 'generated_with_ssg'|trans({'%name%': '<a href="https://cecil.app/" rel="noopener noreferrer">Cecil</a>'})|raw }}</li>
                        <li>{{ 'hosted_on_platform'|trans({'%platform%': '<a href="https://pages.github.com/" rel="noopener noreferrer">GitHub Pages</a>'})|raw }}</li>
                        <li>{{ 'components'|trans({'%components%': '<a href="https://getbootstrap.com/" rel="noopener noreferrer">Bootstrap 5</a>, <a href="https://fontawesome.com/" rel="noopener noreferrer">Font Awesome</a>, <a href="https://highlightjs.org/" rel="noopener noreferrer">Highlight.js</a>, <a href="https://giscus.app/" rel="noopener noreferrer">Giscus</a>'})|raw }}</li>
                        <li>{{ 'comments_provider'|trans|raw }}</li>
                    </ul>
                    
                    <h2>{{ 'privacy'|trans }}</h2>
                    <p>{{ 'no_tracking'|trans }}</p>
                    
                    <h2>{{ 'contact'|trans }}</h2>
                    <p>{{ site.author.email }}</p>
                </div>
            </div>
        </div>
    </main>
{%- endblock content ~%}